<div class="questions-container">

    <div class="question-container-top">
        <h3>Top questions for you</h3>
        <div class="freq-tags">
            <span class="question-tag" *ngFor="let item of freqTags | keyvalue">
                {{ item.key + ': ' +  item.value}}
            </span>
        </div>
    </div>

    <div *ngFor="let question of questions" class="question">
        <div class="question-left">
            <div class="question-left-left">
                <div class="question-voting">
                    <i class="pi pi-caret-up" style="font-size: 1.5rem"></i>
                    <i class="pi pi-caret-down" style="font-size: 1.5rem"></i>
                </div>
            </div>

            <div class="question-left-right">
                <div class="question-left-title">
                    <a href="{{ question.data.question_url }}" target="_blank">
                        {{ question.data.post_title || 'Title' }}
                    </a>
                </div>
    
                <div style="margin-top: 5px;">
                    <button *ngFor="let tag of question.data.tags.split('|')" class="question-left-tags" pButton pRipple type="button"
                        style="margin-bottom: 2px; padding: 0px 4px; margin-right: 5px; font-weight: 500 !important"
                        label="{{ tag }}" class="p-button-outlined p-button-warning label-tags">
                    </button>
                </div>
            </div>
        </div>

        <div class="question-right">
            <div class="question-right-item">
                <div>
                    {{ question.data.post_score }}
                </div>
                <div>
                    votes
                </div>
                <i class="pi pi-thumbs-up"></i>
            </div>

            <div class="question-right-item">
                <div>
                    ...
                </div>
                <div>
                    answers
                </div>
                <i class="pi pi-reply"></i>
            </div>

            <div class="question-right-item">
                <div>
                    {{ question.data.post_view_count }}
                </div>
                <div>
                    views
                </div>
                <div>
                    <i class="pi pi-sign-in"></i>
                </div>
            </div>

            <div class="question-right-item">
                <div class="bookmark-items">
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-bookmark"
                        (click)="bookmark(question.data)"
                        class="p-button-rounded p-button-secondary p-button-text"
                    >
                    </button>
                </div>
            </div>
        </div>
    </div>
    <p-paginator
        [rows]="10"
        [totalRecords]="120"
        (onPageChange)="paginate($event)"
    >
    </p-paginator>

</div>